@font-face {
    font-family: PlusJakartaText-Regular;
    src: url('PlusJakartaText-Regular.otf');
}

* {
    font-family: PlusJakartaText-Regular;
}

body {
    background: #CCFFFF;
    text-align: center;
}


.container {
    background: white;
    border-radius: 25px;
    align-items: center;
    margin: 3vw;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.grid-container {
    display: grid;
}

h1 {
    padding-top: 40px;
    font-family: PlusJakartaDisplay-Bold;
    font-size: 50px;
}

label {
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    display: inline-block;
    text-align: center;
}

input {
    margin: 25px;
    text-align: center;
    border-style: solid;
    width: 30%;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 20px;
    border-color: #F3F1F5;
    box-sizing: border-box;
}


input:focus {
    outline: 2px solid #0000FF;
}



button{
    padding: 20px 70px;
    outline: none;
    margin: 40px;
    background-color: #0000FF;
    border-style: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.8s;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #eabcf8;
}
#table-box{
    margin : 0 20px;
    background-color: rgb(201, 178, 215);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius:20px;
    height: 500px;
    width: 1466px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
table-box{
    margin : 0 20px;
    background-color:#d4c7e4;
    justify-content: flex-start;
    align-items: center;
    border-radius:20px;
    height: 500px;
    width: 800px;
}
td,th{
    padding-left: 100px;
    padding-right: 100px;
    width: 130px;
    text-align: left;
}


@media only screen and (min-width: 300px) and (max-width: 515px) {

    .grid-container label {
        font-size: 18px;
    }

    .grid-container input {
        width: 80%;
        font-size: 20px;
    }

    .grid-container select {
        width: 80%;
        font-size: 20px;
        background: white;
    }

    .grid-container textarea {
        width: 80%;
        font-size: 20px;
        background: white;
    }

    .container {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 25px;
        line-height: 40px;
    }

}